<!doctype html>
<html lang="en">
<body>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Projects</h1>
    <p class="lead font-weight-normal">This is the projects page. Here you can see a list of all the projects</p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<!-- CUSTOM TILES START HERE -->
<div class="container">
<div class="row">
    <div class="col-lg-4">
<div *ngIf="this.imgArray[0]!=null" class="card" style="width: 18rem;">
  <img (mouseenter)="mouseEnter(0)" (mouseleave)="mouseLeave(0)" class="card-img-top" src={{this.imgArray[0].displayImg}} alt="Card image cap">
  <div *ngIf="this.imgArray[0].entered==false" class="card-body">
    <h5 class="card-title">{{this.imgArray[0].title}}</h5>
    <p class="card-text">{{this.imgArray[0].shorttext}}</p>
    <a href={{this.imgArray[0].route}} class="btn btn-primary">Open</a>
  </div>
  <div *ngIf="this.imgArray[0].entered" class="card-body">
      <h5 class="card-title">{{this.imgArray[0].title}}</h5>
      <p class="card-text">{{this.imgArray[0].longtext}}</p>
      <a href={{this.imgArray[0].route}} class="btn btn-primary">Open</a>
    </div>
</div>
    </div>
<div class="col-lg-4">
<div *ngIf="this.imgArray[1]!=null" class="card" style="width: 18rem;">
  <img (mouseenter)="mouseEnter(1)" (mouseleave)="mouseLeave(1)" class="card-img-top" src={{this.imgArray[1].displayImg}} alt="Card image cap">
  <div *ngIf="this.imgArray[1].entered==false" class="card-body">
    <h5 class="card-title">{{this.imgArray[1].title}}</h5>
    <p class="card-text">{{this.imgArray[1].shorttext}}</p>
    <a href={{this.imgArray[1].route}} class="btn btn-primary">Open</a>
  </div>
  <div *ngIf="this.imgArray[1].entered" class="card-body">
      <h5 class="card-title">{{this.imgArray[1].title}}</h5>
      <p class="card-text">{{this.imgArray[1].longtext}}</p>
      <a href={{this.imgArray[1].route}} class="btn btn-primary">Open</a>
    </div>
</div>
</div>

<div class="col-lg-4">
    <div *ngIf="this.imgArray[2]!=null" class="card" style="width: 18rem;">
      <img (mouseenter)="mouseEnter(2)" (mouseleave)="mouseLeave(2)" class="card-img-top" src={{this.imgArray[2].displayImg}} alt="Card image cap">
      <div *ngIf="this.imgArray[2].entered==false" class="card-body">
        <h5 class="card-title">{{this.imgArray[2].title}}</h5>
        <p class="card-text">{{this.imgArray[2].shorttext}}</p>
        <a href={{this.imgArray[2].route}} class="btn btn-primary">Open</a>
      </div>
      <div *ngIf="this.imgArray[2].entered" class="card-body">
          <h5 class="card-title">{{this.imgArray[2].title}}</h5>
          <p class="card-text">{{this.imgArray[2].longtext}}</p>
          <a href={{this.imgArray[2].route}} class="btn btn-primary">Open</a>
        </div>
    </div>
    </div>
    </div>
  </div>
<!-- CUSTOM TILES END HERE -->
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>
